-#
  item.haml - Playlist/Player item object

  item        - The item to display.
  in_playlist - If True, display a condensed item summary for display inside a
                playlist or player object.  (Default: false.)

- in_playlist ||= false

= haml(:json, locals: { name: :item, item: item }) if request.params.key? "json"

- unless request.params.key? "json"
  -# If we're in the playlist we want a very short item summary...
  - if in_playlist
    %span= item.name
    = haml(:in_links, locals: { item: item })

  -# ...otherwise, we want a full standalone section.
  - unless in_playlist
    %section.item{ class: item.type }
      %h1= item.url
      %dl
        %dt Name
        %dd=item.name
        %dt Type
        %dd=item.type

      = haml(:out_links, locals: { item: item })
