-#
  playlist.haml - Playlist object

  playlist    - The item to display.
  in_channel  - If True, display a condensed playlist for display inside a
                channel object.  (Default: false.)

- in_channel ||= false

= haml(:json, locals: { name: :player, item: player }) if request.params.key? "json"
- unless request.params.key? "json"
  %section.player
    %h1=in_channel ? "Player" : player.name
    %section.player-states
      = haml :player_state, locals: { state: player.state, in_player: true }
      = haml :player_load_state, locals: { load_state: player.load_state, in_player: true }
    %section.player-primary-markers
      - %i(position duration).each do |sym|
        = haml :player_marker, locals: { symbol: sym, marker: player.marker(sym), in_player: true }
    %section.player-secondary-markers
      - %i(cue intro).each do |sym|
        = haml :player_marker, locals: { symbol: sym, marker: player.marker(sym), in_player: true }
    - if player.load_state == :ok
      %p
        = surround "Playing ", "." do
          %strong= player.item.name

    = haml(:in_out_links, locals: { item: player, inwards: in_channel })
