%section.player
  - in_channel ||= false

  %h1=in_channel ? "Player" : player.name
  = haml :player_state, locals: { state: player.state, in_player: true }
  = haml :player_load_state, locals: { load_state: player.load_state, in_player: true }
  - if player.load_state == :ok
    %p
      = surround "Playing ", "." do
        %strong= player.item.name

  - if in_channel
    %a.in{ href: url("/channels/#{player.channel_id}/player") } In
  - unless in_channel
    %a.out{ href: url("/channels/#{player.channel_id}") } Out
