-#
-#  player_marker.haml - Player marker object (generic template).
-#
-#  marker     - The item to display.
-#  in_player  - If True, display a condensed marker for display inside a
-#               channel object.  (Default: false.)

- in_player ||= false

= haml(:json, locals: { name: marker.symbol, item: marker }) if request.params.key? "json"
- unless request.params.key? "json"
  %section.player-marker
    %p
      - preamble = "#{marker.short_name} is at " if in_player
      - preamble = "#{marker.player_channel_name}'s #{marker.short_name} is at " unless in_player
      = surround preamble, "msec." do
        %strong= marker.value

    = haml(:in_out_links, locals: { item: marker, inwards: in_player })
